@font-face { font-family: Inconsolata; src: url('Inconsolata.otf'); } 

h1 {

    text-align: center;

}

.blog-post {
    
    font-family: Inconsolata, sans-serif;
    font-size: 14px;

    margin-left: auto;

    margin-right: auto;
    
    background: #4f4f5f;

    margin-bottom: 20px;

    margin-top: 20px;
    
    color: #b7b7b7;
    
    font-size: 14px;

    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.25);
    
    padding: 0px;

    -webkit-transition: padding .5s;


}

.blog-post:hover {

    box-shadow: 0px 6px 12px 5px rgba(0, 0, 0, 0.3);
    
    padding-left: 20px;
    padding-right: 20px;
    
    -webkit-transition: padding .5s;


}

.blog-post h2 {
    
    color: #e3e3e3;
    
}

.blog-post a:link {

    color: #b7b7b7;

    text-decoration: none;

}

.blog-post a:visited {

    color: #b7b7b7;

    text-decoration: none;

}


.post-title {

    text-align: center;

    margin: 15px;

    padding-top: 15px;

}

body {

    font-family: sans-serif;
    
    background: #3f3f4a;

    margin: 0px;

}

.post-preview {
    
    padding: 20px;
/*    margin-bottom: 20px;*/

}

@media only screen and (max-width: 480px) {

    .blog-post {

        width: 100%;

    }

}

@media only screen and (min-width: 500px) and (max-width: 700px) {

    .blog-post {

        width: 80%;

    }

}

@media only screen and (min-width: 700px) and (max-width: 1200px) {

    .blog-post {

        width: 60%;

    }

}

@media only screen and (min-width: 1200px) {

    .blog-post {

        width: 800px;

    }

}

#posts {

/*    margin: 40px;*/

}

.header {

    background: #009688;

    margin: 0px;

    padding: 10px;

    margin-left: auto;

    margin-right: auto;

}

#navcontainer {

/*    float: right;*/

    position: relative;

    left: -50%;

    -webkit-align-content: center;

    -ms-flex-line-pack: center;

    align-content: center;

    margin: 0 auto;

}

#navBar {

    position: relative;

    left: 50%;

}

#navcontainer ul li {

    display: inline;

    list-style-type: none;

    padding: 0 20px;

    text-align: center;

}

.blog-post-link:link {

    color: #000000;

}

